<!-- <div class="center">
  <h2>
    Current Roles
  </h2>
</div> -->

{{ with .Site.Params.roles.current }}
  <div class="pure-g index-container">
  {{ range .}}
    <div class="pure-u-1 pure-u-md-1-3 center index-wrapper">
      <h4>{{ .title }} </h4>
      <div class="index-image-container">
        <a href="{{ .Permalink }}" aria-label="{{ .name }}">
        {{ if .image_class }}
          <img src="{{ .image }}" class="{{ .image_class }}"/>
        {{ else }}
           <img src="{{ .image }}" class="index-image"/>
        {{ end }}
        </a>
        {{ if .post_url }}
      </div>
      <div>
        <a href="{{ .post_url }}">Read More</a>
        {{ end }}
      </div>
    </div>
  {{ end }}
  </div>
{{ end }}

<div class="center">
  <h2>
    Past Roles & Milestones
  </h2>
</div>

{{ with .Site.Params.roles.past }}
  <div class="pure-g index-container">
  {{ range .}}
    <div class="pure-u-1 pure-u-md-1-3 center index-wrapper">
      <h4>{{ .title }} </h4>
      <div class="index-image-container">
        <a href="{{ .Permalink }}" aria-label="{{ .name }}">
        {{ if .image_class }}
          <img src="{{ .image }}" class="{{ .image_class }}"/>
        {{ else }}
           <img src="{{ .image }}" class="index-image"/>
        {{ end }}
        </a>
        {{ if .post_url }}
      </div>
      <div>
        <a href="{{ .post_url }}">Read More</a>
        {{ end }}
      </div>
    </div>
  {{ end }}
  </div>
{{ end }}

<!-- {{ .Content }} -->